@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  body{
    font-family: 'Inter', sans-serif;
    background: #fafafa;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #fff
    }

    &::-webkit-scrollbar-thumb {
      background-color: $theme-main-color;
    }

    &::-webkit-scrollbar-track {
      background-color: inherit
    }
  }
  main{
    padding: 20px 0;

  }
}
.page{
  &-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-empty{
    color:$theme-main-color;
    font-size: 2rem;
    line-height: 110%;
    margin: 20vh 0;
    text-align: center;
  }
}
.loader{
  width: 100%;
  padding: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100px;
  }
}
.tag{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: 1px solid $theme-main-color;
  padding: 5px 7px;
  border-radius: 5px;
  margin-bottom: 10px;
  i{
    margin-right: 5px;
    color: $theme-main-color;
  }
  span{
    color: $theme-main-color;
  }
}
.user{
  &-block{
    display: flex;
    align-items: center;
  }
  &-picture{
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid $theme-main-color;
    color: $theme-main-color;
    margin-right: 10px;
  }
  &-info{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .page{
    &-heading{
      flex-direction: column;
    }
  }
}