<template>
  <div id="packageModal" class="modal">
    <div class="modal-content" v-if="packageData">
      <h4>
        {{ packageData.name }} {{ packageData.version }} by
        {{ packageData.author.name }}
      </h4>
      <p>{{ packageData.description }}</p>
      <div class="tags">
        <template
          v-if="packageData.keywords && packageData.keywords.length > 0"
        >
          <div
            class="card-tag tag"
            :key="tagKey"
            v-for="(tagItem, tagKey) in packageData.keywords"
          >
            <span>{{ tagItem }}</span>
          </div>
        </template>
      </div>
      <h6>{{ $t("maintainers") }}</h6>
      <div class="maintainers">
        <div
          class="user-block"
          :key="userKey"
          v-for="(userItem, userKey) in packageData.maintainers"
        >
          <div class="user-picture">
            {{ userItem.username.slice(0, 1) }}
          </div>
          <div class="user-info">
            <span>{{ userItem.username }}</span>
            <a :href="`mailto:${userItem.email}`">{{ userItem.email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";

export default {
  name: "PackageModal",
  props: {
    packageData: {
      type: Object
    }
  },
  mounted() {
    M.Modal.init(document.getElementById("packageModal"));
  },
  created() {}
};
</script>

<style scoped lang="scss">
.tags {
  display: flex;
  flex-wrap: wrap;
}
.maintainers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.user {
  &-block {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
</style>
