<template>
  <header class="row">
    <div class="col s12">
      <nav>
        <div class="nav-wrapper">
          <form @submit.prevent="searchHandler">
            <div class="input-field">
              <input
                id="search"
                type="search"
                v-model="searchValue"
                required
                :placeholder="$t('placeholders.searchPackage')"
              />
              <label class="label-icon" for="search"
                ><i class="material-icons">search</i></label
              >
              <i class="material-icons" @click="clearValue">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
import { mapGetters } from "vuex";
import { eventBus } from "@/main";

export default {
  name: "Header",
  data() {
    return {
      searchValue: ""
    };
  },
  methods: {
    clearValue() {
      this.searchValue = "";
    },
    searchHandler() {
      this.$store.dispatch("resetPackagesPagination");
      eventBus.$emit("setSearchValue", this.searchValue);
    }
  },
  computed: {
    ...mapGetters({
      packagesPagination: "packagesPagination"
    })
  }
};
</script>

<style scoped lang="scss">
header {
  margin-bottom: 20px;
  nav {
    background-color: $theme-main-color;
  }
  input {
    color: #fff;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      color: #000;
    }
  }
}
</style>
