<template>
  <ul class="pagination-container" v-if="pageCount > recordsPerPage">
    <li @click="prevPage" :class="{ disabled: this.pagination.page <= 1 }">
      <i class="material-icons">
        arrow_upward
      </i>
      {{ $t("prev") }}
    </li>
    <li @click="nextPage">
      <i class="material-icons">
        arrow_downward
      </i>
      {{ $t("next") }}
    </li>
  </ul>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    pagination: {
      required: true,
      searchText: {
        required: false,
        type: String,
        default: ""
      },
      offset: {
        required: true,
        type: Number,
        default: 0
      },
      counter: {
        required: true,
        type: Number,
        default: 0
      },
      page: {
        required: true,
        type: Number,
        default: 0
      }
    },
    getPackages: {
      type: Function,
      required: true
    },
    recordsPerPage: {
      type: Number,
      required: false,
      default: 10
    }
  },
  data() {
    return {};
  },
  methods: {
    nextPage() {
      if (
        this.pagination.page <=
        this.pagination.offset / this.recordsPerPage
      ) {
        this.getPackages();
      } else {
        this.$store.dispatch("setPackagesPaginationPage", 1);
      }
    },
    prevPage() {
      if (this.pagination.page > 1) {
        this.$store.dispatch("setPackagesPaginationPage", -1);
      }
    }
  },
  computed: {
    pageCount() {
      return Math.ceil(this.pagination.counter / this.recordsPerPage);
    }
  }
};
</script>

<style scoped lang="scss">
.pagination {
  &-container {
    padding: 0;
    position: fixed;
    top: 200px;
    right: 10vw;
    li {
      display: flex;
      align-items: center;
      margin: 10px 0;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
      }
      &:hover {
        color: $theme-main-color;
        transition: color 0.25s ease-in-out;
      }
    }
  }
}
@media (max-width: 768px) {
  .pagination {
    &-container {
      bottom: 0px;
      right: 0px;
      top: initial;
      margin: 0 auto;
      display: flex;
      padding: 0 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: $theme-main-color;
      left: 0px;
      width: max-content;
      li {
        color: #ffffff;
        margin: 10px 10px;
      }
    }
  }
}
</style>
