<template>
  <div>
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ data.name }}</span>
        <p>{{ data.description }}</p>
      </div>
      <div class="card-action card-tags">
        <div class="card-tag tag">
          <i class="material-icons">label</i>
          <span>{{ data.version }}</span>
        </div>
        <template v-if="data.keywords && data.keywords.length > 0">
          <div
            class="card-tag tag"
            :key="tagKey"
            v-for="(tagItem, tagKey) in data.keywords.slice(0, 10)"
          >
            <span>{{ tagItem }}</span>
          </div>
        </template>

        <div class="card-action card-triggers">
          <a
            :title="$t('titles.download')"
            rel="noopener"
            :href="
              `https://registry.npmjs.org/${data.name}/-/${data.name}-${data.version}.tgz`
            "
            download
          >
            <i class="material-icons">archive</i>
          </a>
          <a
            :title="$t('titles.rate')"
            rel="nofollow"
            target="_blank"
            :href="`https://openbase.io/js/${data.name}`"
          >
            <i class="material-icons">poll</i>
          </a>
          <a
            :title="$t('titles.rate')"
            rel="nofollow"
            target="_blank"
            :href="`https://www.npmjs.com/package/${data.name}`"
          >
            <i class="material-icons">info</i>
          </a>
          <i class="material-icons" @click="openModalTrigger"> live_help</i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Item",
  props: {
    data: {
      required: true,
      type: Object
    },
    openModal: {
      type: Function,
      required: true
    }
  },
  methods: {
    openModalTrigger() {
      this.openModal(this.data);
    }
  }
};
</script>

<style scoped lang="scss">
.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
  &:hover {
    cursor: pointer;
    .card-triggers {
      transform: translateX(0%);
    }
  }
  &-content {
    span,
    p {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  &-action {
    border-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    i {
      color: $theme-main-color;
    }
  }
  &-tags {
    position: relative;
  }
  &-triggers {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.25s ease-in-out;
    i {
      margin: 6px 7px;
    }
  }
}
</style>
