<template>
  <main id="app" class="container">
    <Header></Header>
    <router-view />
  </main>
</template>
<script>
import Header from "@/components/Header";
export default {
  name: "MainLayout",
  components: {
    Header
  }
};
</script>
<style lang="scss">
@import "~materialize-css/dist/css/materialize.css";
@import "~@/assets/scss/theme.scss";
</style>
