<template>
  <section class="home">
    <div class="row">
      <div class="col s12 page-heading">
        <h5>
          {{ $t("searchResult") }}{{ searchText ? ` - ${searchText}` : "" }}
        </h5>
        <div class="settings-list">
          <div class="languages-list">
            <div
              class="languages-item"
              :class="{ active: $i18n.locale == 'ru' }"
              @click="changeLanguage('ru')"
            >
              ru
            </div>
            <div
              class="languages-item"
              :class="{ active: $i18n.locale == 'en' }"
              @click="changeLanguage('en')"
            >
              en
            </div>
          </div>
          <div class="switch">
            <label>
              <input
                type="checkbox"
                v-model="scrollLoading"
                @click="changeLoadState"
              />
              <span class="lever"></span>
            </label>
            <span>{{ $t("loadByScroll") }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="search-results" v-if="packagesList.length > 0">
          <Item
            class="search-item"
            :key="packageKey"
            :open-modal="openDetailsModal"
            :data="packageItem.package"
            v-for="(packageItem, packageKey) in itemsList"
          ></Item>
        </div>
        <div
          v-if="packagesList.length <= 0 && !packagesLoadingState"
          class="page-empty"
        >
          {{ $t("emptyMessage") }}
        </div>
        <div class="loader" v-if="packagesLoadingState">
          <img src="@/assets/images/loader.svg" alt="" />
        </div>
        <Pagination
          v-if="packagesList.length && !scrollLoading"
          :get-packages="getPackagesHandler"
          :pagination="packagesPagination"
          :records-per-page="recordsPerPage"
        ></Pagination>
      </div>
    </div>
    <PackageModal :package-data="currentPackage"></PackageModal>
  </section>
</template>

<script>
import Item from "@/components/resultsList/Item";
import Pagination from "@/components/Pagination";
import PackageModal from "@/views/packages/components/PackageModal";

import M from "materialize-css";

import { mapGetters } from "vuex";
import { eventBus } from "@/main";

export default {
  name: "Home",
  data() {
    return {
      scrollLoading: false,
      searchText: null,
      recordsPerPage: 10,
      currentPackage: null,
      modalItem: null
    };
  },
  components: {
    Item,
    Pagination,
    PackageModal
  },
  methods: {
    /* Метод можно вынести в миксину для реюза,
     все экшены и сетеры/гетеры можно так же сделать миксинами,
     что бы держать стейт консистетным */
    getPackagesHandler() {
      const requestData = {
        offset: this.packagesPagination.offset,
        size: this.recordsPerPage,
        searchText: this.searchText
      };
      this.$store.dispatch("getPackagesList", requestData);
      this.$store.dispatch("setPackagesPaginationPage", 1);
    },
    /* Восстановление кол-ва загруженых страниц для полотна записей*/
    changeLoadState() {
      const pagesDifference =
        this.packagesPagination.offset / this.recordsPerPage -
        this.packagesPagination.page;
      this.$store.dispatch("setPackagesPaginationPage", pagesDifference);
    },
    openDetailsModal(item) {
      this.currentPackage = item;
      M.Modal.getInstance(document.getElementById("packageModal")).open();
    },
    changeLanguage(locale) {
      import(`@/i18n/languages/${locale}.json`).then(translations => {
        this.$i18n.setLocaleMessage(locale, translations);
        this.$i18n.locale = locale;
      });
    }
  },
  beforeDestroy() {
    window.onscroll = () => {};
  },
  computed: {
    ...mapGetters({
      packagesList: "packagesList",
      packagesPagination: "packagesPagination",
      packagesLoadingState: "packagesLoadingState"
    }),
    itemsList() {
      /* Сделано для сейва загруженных записей, что бы не ганять трафик */
      let startIndex =
        this.packagesList.length > this.recordsPerPage
          ? (this.packagesPagination.page - 1) * this.recordsPerPage
          : 0;

      let endIndex =
        startIndex + this.recordsPerPage == this.packagesList.length
          ? this.packagesList.length
          : this.packagesPagination.page * this.recordsPerPage;

      return this.scrollLoading
        ? this.packagesList
        : this.packagesList.slice(startIndex, endIndex);
    }
  },
  watch: {
    /* Если на проекте нет биндов на скрол*/
    scrollLoading: function(newState) {
      if (newState) {
        window.onscroll = () => {
          let bottomOfWindow =
            document.documentElement.scrollTop + window.innerHeight ===
            document.documentElement.offsetHeight;
          if (bottomOfWindow) {
            this.getPackagesHandler();
          }
        };
      } else {
        window.onscroll = () => {};
      }
    }
  },
  created() {
    /* Шина здесь не нужна, но если бы была вложеность чаилдов больше одного, полезный инструмент*/
    eventBus.$on("setSearchValue", data => {
      this.searchText = data;
      this.getPackagesHandler();
    });
  }
};
</script>
<style scope lang="scss">
.search {
  &-results {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-auto-rows: max-content;
  }
}
.settings {
  &-list {
    display: flex;
    align-items: center;
    .switch {
      label input[type="checkbox"]:checked + .lever {
        background-color: rgba($theme-main-color, 0.5);
      }
      label input[type="checkbox"]:checked + .lever:after {
        background-color: $theme-main-color;
      }
    }
  }
}
.languages {
  &-list {
    display: flex;
    align-items: center;
  }
  &-item {
    margin-right: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    &.active {
      color: $theme-main-color;
    }
  }
}
</style>
